{
    "openapi": "3.0.3",
    "info": {
        "title": "FlowForge Platform API",
        "version": "1.0.0",
        "description": "Read chatbot-rich organisation data: chatbots, published/staging flow JSON, full flow export packs, media, templates, entities, conversations (with transcripts), and analytics.\r\n\r\n**Import into Postman:** File → Import → `openapi.json` (or `postman.json` + environment). Set `baseUrl` and `accessToken`.\r\n\r\n**Where to get a token:** Organisation owners/admins create a long-lived Platform API token on Admin → Security (`ffpat_…`, shown once). Send `Authorization: Bearer <token>`. The PHP API verifies it, then reads the database with the service_role key — never send anon/service_role yourself. Session JWTs from `/docs/api` still work for interactive Postman use but expire. Tokens are scoped to one organisation.\r\n\r\n**Pagination:** `limit` (default 50, max 200) and `offset`. List responses include `total` when available.\r\n\r\n**Errors:** `{ \"ok\": false, \"error\": \"…\" }`.",
        "contact": {
            "name": "FlowForge",
            "url": "https://gkjtt.co.za/flowforge/docs/api"
        }
    },
    "servers": [
        {
            "url": "https://gkjtt.co.za/flowforge/api",
            "description": "Production"
        },
        {
            "url": "{baseUrl}",
            "description": "Custom",
            "variables": {
                "baseUrl": {
                    "default": "https://gkjtt.co.za/flowforge/api"
                }
            }
        }
    ],
    "tags": [
        {
            "name": "Documentation",
            "description": "OpenAPI and Postman artifacts"
        },
        {
            "name": "Account",
            "description": "Current user and organisation memberships"
        },
        {
            "name": "Organisations",
            "description": "Tenants the caller can access"
        },
        {
            "name": "Chatbots",
            "description": "Chatbot records, flow JSON, export, media, templates, entities"
        },
        {
            "name": "Conversations",
            "description": "Sessions, transcripts, conversation files"
        },
        {
            "name": "Analytics",
            "description": "Volume, completion, drop-off"
        }
    ],
    "security": [
        {
            "jwt": []
        }
    ],
    "paths": {
        "/openapi.json": {
            "get": {
                "operationId": "getOpenApi",
                "summary": "OpenAPI specification",
                "description": "Import this JSON into Postman (File → Import).",
                "tags": [
                    "Documentation"
                ],
                "security": [],
                "responses": {
                    "200": {
                        "description": "OpenAPI 3.0.3",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/postman.json": {
            "get": {
                "operationId": "getPostmanCollection",
                "summary": "Postman Collection v2.1",
                "description": "Ready-made collection generated from this spec.",
                "tags": [
                    "Documentation"
                ],
                "security": [],
                "responses": {
                    "200": {
                        "description": "Postman Collection"
                    }
                }
            }
        },
        "/postman-environment.json": {
            "get": {
                "operationId": "getPostmanEnvironment",
                "summary": "Postman Environment",
                "description": "Variables: baseUrl, accessToken, organisationId, chatbotId, conversationId.",
                "tags": [
                    "Documentation"
                ],
                "security": [],
                "responses": {
                    "200": {
                        "description": "Postman Environment"
                    }
                }
            }
        },
        "/docs": {
            "get": {
                "operationId": "getApiDocs",
                "summary": "Interactive docs (HTML)",
                "description": "Redoc HTML for this spec.",
                "tags": [
                    "Documentation"
                ],
                "security": [],
                "responses": {
                    "200": {
                        "description": "HTML"
                    }
                }
            }
        },
        "/v1": {
            "get": {
                "operationId": "v1Index",
                "summary": "API catalog",
                "description": "Lists v1 resource paths.",
                "tags": [
                    "Account"
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "ok": true,
                                    "service": "flowforge-platform-v1"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/me": {
            "get": {
                "operationId": "getMe",
                "summary": "Current user",
                "description": "Caller identity plus organisations and roles.",
                "tags": [
                    "Account"
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "User + memberships",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Me"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/organisations": {
            "get": {
                "operationId": "listOrganisations",
                "summary": "List organisations",
                "description": "Organisations the caller belongs to.",
                "tags": [
                    "Organisations"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Page size (default 50, max 200)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "50"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Organisation list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganisationList"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/organisations/{organisationId}": {
            "get": {
                "operationId": "getOrganisation",
                "summary": "Get organisation",
                "description": "Profile for one organisation.",
                "tags": [
                    "Organisations"
                ],
                "parameters": [
                    {
                        "name": "organisationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{organisationId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Organisation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganisationResponse"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/organisations/{organisationId}/chatbots": {
            "get": {
                "operationId": "listOrgChatbots",
                "summary": "List chatbots",
                "description": "Chatbots in the organisation (excludes recycle-bin unless include_deleted=1).",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "organisationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{organisationId}}"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Page size (default 50, max 200)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "50"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "description": "Name search",
                        "schema": {
                            "type": "string"
                        },
                        "example": "support"
                    },
                    {
                        "name": "include_deleted",
                        "in": "query",
                        "required": false,
                        "description": "Set 1 to include recycle-bin bots",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Chatbot list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChatbotList"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/organisations/{organisationId}/conversations": {
            "get": {
                "operationId": "listOrgConversations",
                "summary": "List conversations",
                "description": "Sessions across chatbots. Filter by status, environment, from, to.",
                "tags": [
                    "Conversations"
                ],
                "parameters": [
                    {
                        "name": "organisationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{organisationId}}"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Page size (default 50, max 200)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "50"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "active, completed, failed, abandoned, escalated",
                        "schema": {
                            "type": "string"
                        },
                        "example": "completed"
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "required": false,
                        "description": "production or staging",
                        "schema": {
                            "type": "string"
                        },
                        "example": "production"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "ISO start (created_at >=)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2026-09-01"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "ISO end (created_at <=)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2026-09-08"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Conversation list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConversationList"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/organisations/{organisationId}/analytics": {
            "get": {
                "operationId": "orgAnalytics",
                "summary": "Organisation analytics",
                "description": "Session volume, completion, drop-off, by chatbot and by day.",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "organisationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{organisationId}}"
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "description": "Lookback days (default 30, max 365)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "30"
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "required": false,
                        "description": "production or staging",
                        "schema": {
                            "type": "string"
                        },
                        "example": "production"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Analytics summary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsResponse"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}": {
            "get": {
                "operationId": "getChatbot",
                "summary": "Get chatbot",
                "description": "Chatbot record including settings JSON (no staging test token).",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Chatbot",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChatbotResponse"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/flow": {
            "get": {
                "operationId": "getChatbotFlow",
                "summary": "Published flow JSON",
                "description": "Published (or staging) graph snapshot used by public chat. Query environment=staging for the staging graph.",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "required": false,
                        "description": "production (default) or staging",
                        "schema": {
                            "type": "string"
                        },
                        "example": "production"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Graph JSON",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FlowResponse"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/export": {
            "get": {
                "operationId": "exportChatbot",
                "summary": "Export chatbot pack",
                "description": "Designer pack: nodes, edges, globals, templates, entity schemas, test scenarios (`flowforge.chatbotFlow`).",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Flow export pack",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FlowExport"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/media": {
            "get": {
                "operationId": "listChatbotMedia",
                "summary": "List media files",
                "description": "Media library files for the chatbot. Use runtime GET /file/get to download bytes.",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Media list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaList"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/templates": {
            "get": {
                "operationId": "listTemplates",
                "summary": "List templates",
                "description": "FAQ, email, store catalogs, hours, receipts, downloadable files, and other template kinds.",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Templates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/variables": {
            "get": {
                "operationId": "listVariables",
                "summary": "List variables",
                "description": "Global and step-output variable definitions.",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Variables",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/entities": {
            "get": {
                "operationId": "listEntities",
                "summary": "List entities",
                "description": "Data tables owned by this chatbot (schema only).",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/entities/{entityId}": {
            "get": {
                "operationId": "getEntity",
                "summary": "Get entity schema",
                "description": "Entity plus attributes.",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    },
                    {
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{entityId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Entity with attributes"
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/entities/{entityId}/records": {
            "get": {
                "operationId": "listEntityRecords",
                "summary": "List entity records",
                "description": "Static catalog or dynamic records for the entity.",
                "tags": [
                    "Chatbots"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    },
                    {
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{entityId}}"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Page size (default 50, max 200)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "50"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Records"
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/conversations": {
            "get": {
                "operationId": "listChatbotConversations",
                "summary": "List chatbot conversations",
                "description": "Sessions for one chatbot.",
                "tags": [
                    "Conversations"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Page size (default 50, max 200)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "50"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "active, completed, failed, abandoned, escalated",
                        "schema": {
                            "type": "string"
                        },
                        "example": "completed"
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "required": false,
                        "description": "production or staging",
                        "schema": {
                            "type": "string"
                        },
                        "example": "production"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "ISO start (created_at >=)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2026-09-01"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "ISO end (created_at <=)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2026-09-08"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Conversation list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConversationList"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/chatbots/{chatbotId}/analytics": {
            "get": {
                "operationId": "chatbotAnalytics",
                "summary": "Chatbot analytics",
                "description": "Same analytics shape, scoped to one chatbot.",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "chatbotId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{chatbotId}}"
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "description": "Lookback days",
                        "schema": {
                            "type": "string"
                        },
                        "example": "30"
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "required": false,
                        "description": "production or staging",
                        "schema": {
                            "type": "string"
                        },
                        "example": "production"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Analytics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsResponse"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/conversations/{conversationId}": {
            "get": {
                "operationId": "getConversation",
                "summary": "Get conversation",
                "description": "Session including saved variables.",
                "tags": [
                    "Conversations"
                ],
                "parameters": [
                    {
                        "name": "conversationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{conversationId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Conversation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConversationResponse"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/conversations/{conversationId}/events": {
            "get": {
                "operationId": "listConversationEvents",
                "summary": "Conversation transcript",
                "description": "Ordered events (messages, step.run, etc.).",
                "tags": [
                    "Conversations"
                ],
                "parameters": [
                    {
                        "name": "conversationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{conversationId}}"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Max events (default 500, max 2000)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "500"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Events",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventList"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/v1/conversations/{conversationId}/files": {
            "get": {
                "operationId": "listConversationFiles",
                "summary": "Conversation uploads",
                "description": "Files uploaded during this session (receipts, signatures, …).",
                "tags": [
                    "Conversations"
                ],
                "parameters": [
                    {
                        "name": "conversationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "{{conversationId}}"
                    }
                ],
                "responses": [
                    {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    {
                        "$ref": "#/components/responses/NotFound"
                    },
                    {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    {
                        "description": "Files",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaList"
                                }
                            }
                        }
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "jwt": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT or ffpat",
                "description": "Long-lived Platform API token (`ffpat_…`) from Admin → Security, or a signed-in session JWT. Never use anon or service_role."
            }
        },
        "responses": {
            "BadRequest": {
                "description": "Bad request",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "ok": false,
                            "error": "Bad request"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Missing or invalid Authorization bearer token",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "ok": false,
                            "error": "Missing or invalid Authorization bearer token"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "Not permitted",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "ok": false,
                            "error": "Not permitted"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "ok": false,
                            "error": "Not found"
                        }
                    }
                }
            },
            "RateLimited": {
                "description": "Rate limit exceeded. Try again shortly.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "ok": false,
                            "error": "Rate limit exceeded. Try again shortly."
                        }
                    }
                }
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean",
                        "example": false
                    },
                    "error": {
                        "type": "string"
                    }
                }
            },
            "Me": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "user": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "email": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "organisations": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "slug": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "role": {
                                    "type": "string",
                                    "example": "editor"
                                }
                            }
                        }
                    }
                },
                "example": {
                    "ok": true,
                    "user": {
                        "id": "00000000-0000-4000-8000-000000000001",
                        "email": "ada@example.com"
                    },
                    "organisations": [
                        {
                            "id": "{{organisationId}}",
                            "name": "Acme",
                            "slug": "acme",
                            "role": "admin"
                        }
                    ]
                }
            },
            "Organisation": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string"
                    },
                    "updated_at": {
                        "type": "string"
                    }
                }
            },
            "OrganisationList": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Organisation"
                        }
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer",
                        "nullable": true
                    }
                }
            },
            "OrganisationResponse": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "organisation": {
                        "$ref": "#/components/schemas/Organisation"
                    }
                }
            },
            "Chatbot": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "instance_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "public_enabled": {
                        "type": "boolean"
                    },
                    "public_slug": {
                        "type": "string",
                        "nullable": true
                    },
                    "environment": {
                        "type": "string"
                    },
                    "settings": {
                        "type": "object"
                    },
                    "created_at": {
                        "type": "string"
                    },
                    "updated_at": {
                        "type": "string"
                    },
                    "deleted_at": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ChatbotList": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "chatbots": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Chatbot"
                        }
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer",
                        "nullable": true
                    }
                }
            },
            "ChatbotResponse": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "chatbot": {
                        "$ref": "#/components/schemas/Chatbot"
                    }
                }
            },
            "FlowResponse": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "chatbot_id": {
                        "type": "string"
                    },
                    "environment": {
                        "type": "string",
                        "example": "production"
                    },
                    "flow": {
                        "type": "object"
                    },
                    "graph": {
                        "description": "Published published_graph JSON (steps, edges, templates snapshot)",
                        "nullable": true
                    }
                }
            },
            "FlowExport": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "kind": {
                        "type": "string",
                        "example": "flowforge.chatbotFlow"
                    },
                    "version": {
                        "type": "integer",
                        "example": 1
                    },
                    "exportedAt": {
                        "type": "string"
                    },
                    "chatbot": {
                        "type": "object"
                    },
                    "flow": {
                        "type": "object"
                    },
                    "globals": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "nodes": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "edges": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "templates": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "entityDefs": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "testScenarios": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "MediaList": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "files": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "filename": {
                                    "type": "string"
                                },
                                "key": {
                                    "type": "string"
                                },
                                "size": {
                                    "type": "integer"
                                },
                                "mime": {
                                    "type": "string"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "path": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "Conversation": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "instance_id": {
                        "type": "string"
                    },
                    "chatbot_id": {
                        "type": "string"
                    },
                    "chatbot_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "example": "completed"
                    },
                    "environment": {
                        "type": "string"
                    },
                    "visitor_key": {
                        "type": "string",
                        "nullable": true
                    },
                    "variables": {
                        "type": "object"
                    },
                    "publish_version": {
                        "type": "integer",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string"
                    },
                    "completed_at": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ConversationList": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "conversations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Conversation"
                        }
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer",
                        "nullable": true
                    }
                }
            },
            "ConversationResponse": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "conversation": {
                        "$ref": "#/components/schemas/Conversation"
                    }
                }
            },
            "EventList": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string",
                                    "example": "step.run"
                                },
                                "node_key": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "payload": {
                                    "type": "object"
                                },
                                "seq": {
                                    "type": "integer"
                                },
                                "created_at": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "AnalyticsResponse": {
                "type": "object",
                "properties": {
                    "ok": {
                        "type": "boolean"
                    },
                    "range_days": {
                        "type": "integer"
                    },
                    "from": {
                        "type": "string"
                    },
                    "analytics": {
                        "type": "object",
                        "properties": {
                            "session_count": {
                                "type": "integer"
                            },
                            "completed_count": {
                                "type": "integer"
                            },
                            "abandoned_count": {
                                "type": "integer"
                            },
                            "failed_count": {
                                "type": "integer"
                            },
                            "unique_visitors": {
                                "type": "integer"
                            },
                            "completion_rate": {
                                "type": "number"
                            },
                            "status_breakdown": {
                                "type": "object"
                            },
                            "by_chatbot": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "by_day": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "drop_off": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
